.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    width: 80vw;
    position: relative;
}
.bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
    
}