.wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-color: #3586ff;
}
.bannerContainer {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 79vw;
    padding-top: 4rem;
    color: white;
    
}
.mainBanner {
    background: url(/src/components/MainBanner/mainBannerImage.webp) no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 33.846%;
    
}
.header {
    position: absolute;
    font-size: 2.2vw;
    font-family: 'Libre Baskerville', serif;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}