.main {
    width: 60vw;
}
.title {
    text-align: center;
}
.aboutImg {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.textContainer {
    
}
.text {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}


@media (max-width: 850px) {
    .main {
        width: 90vw;
       
    }
}