.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    -webkit-box-shadow: 0px 6px 19px 6px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 0px 6px 19px 6px rgba(34, 60, 80, 0.29);
    box-shadow: 0px 3px 7px 3px rgba(34, 60, 80, 0.144);
}
.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}
.book_search {
    width: 100%;
    height: 85%;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 14px;
    background-color: transparent;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 5rem;
    background-color: #f3f3f3;
}
.book_search_button {
    border: none;
    width: 36px;
    height: 33px;
    margin-right: .55rem;
    border-radius: 200px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.book_search_button:hover {
    background-color: #f7f7f7;
}
.logoWrapper {
    display: flex;
    cursor: pointer;
}

.logoWrapperImg {
    width: 40px;
    
}
.logoText {
    font-size: 2rem;
    color: #f3f3f3;
}