.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    background-color: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}
.book_search {
    width: 100%;
    height: 85%;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 14px;
    background-color: transparent;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 5rem;
    background-color: #ffffff;
}
.book_search_button {
    border: none;
    width: 33px;
    height: 33px;
    margin-right: .55rem;
    border-radius: 200px;
    outline: none;
    background-color: rgb(255, 240, 36);
    cursor: pointer;
    
}
.logoWrapper {
    cursor: pointer;
}

.logoWrapperImg {
    width: 40px;
}