.mainItem {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .5s;
    color: #32180F;
    background-color: rgba(255, 255, 255, 0.342);
    transition: transform .2s;
}

.mainItem:hover {
    box-shadow: 0 0 5px rgba(33,33,33,.2);
    background-color: #FFF;
    transform: scale(1.02);
    z-index: 1;
}

.textTitle {
    font-size: 1rem;
    height: 25px;
    overflow: hidden;
}

.textAuthors {
    font-size: 1rem;
    font-weight: 300;
}

.imageWrapper {
    display: flex;
    position: relative;
    justify-content: space-around;
    max-width: 200px;
    height: 300px;
    background-color: #EEEEEE;
    margin: 0 auto;
    padding: 2px;
}

.imageWrapper > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.priceContainer {
    margin-top: 0.1rem;
    font-size: 1.15rem;
}
.actualPrice {
    text-decoration: none;
}
.oldPrice {
    text-decoration: line-through;
    color: #747474;
    font-size: 1rem;
}
.listPrice {
    margin-left: .3rem;
    color: #f10000;
}
.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    background-color: #f10000d3;
    
}
.discount:hover {
    background-color: #f10000;
}